body.booking_overview h3{
    margin-bottom:5px;
}

body.booking_overview table td:first-child {
    width: 320px;
    max-width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
}

body.booking_overview table td:nth-child(2),
body.booking_overview table td:nth-child(3),
body.booking_overview table td:nth-child(4) {
    width: 90px;
    vertical-align: bottom;
}

input[type='text'].euroamount,
div.transaction pre.euroamount,
span.euroamount {
    color: green;
}

input[type='text'].euroamount.negative,
div.transaction pre.euroamount.negative,
span.euroamount.negative {
    color: red;
}

table.balance span.balance_sum{
    text-transform: uppercase;
}
table.balance tr.balance_sum td{
    font-weight: bold;
}
table.balance td:nth-child(2),
table.balance th:nth-child(2){
    color:gray;
    font-weight: normal;
}

table.balance tr:nth-child(n+1) td:nth-child(n+2){
    text-align: right;
    font-family: monospace;
}

div.alternativeLastTransaction{
    color:gray;
}
