form div.tt_formfield > label + input[type='text'],
form div.tt_formfield div.formInput textarea {
    width: 480px;
}

form div.tt_formfield > label + select {
    width: 488px;
}

form div.tt_formfield div.formInput textarea {
    height: 70px;
}

form.giro_import_preview_form div.similar_transaction {
    padding-left: 186px;
}

input.override_similar {
    display: block;
    position: relative;
    left: 10px;
    top: 30px;
    margin-bottom: -12px;
}