form div.tt_formfield > label + input[type='text'],
form div.tt_formfield div.formInput textarea {
    width: 310px;
}

form div.tt_formfield > label + select {
    width: 318px;
}

form.giro_import_preview_form div.similar_transaction {
    padding-left: 0;
}
