div.transaction {
    border-bottom:1px solid gray;
    margin-bottom: 10px;
    padding-bottom:10px;
}

div.transaction > div.textbody {
    width: inherit;
}

div.transaction div.buchungen div.buchungskonto {
    width: 210px;
}

div.transaction div.buchungen div.buchung_text {
    width: 210px;
    margin-left:125px;
    display: block;
}

div.transaction div.gegenbuchungen {
    max-width: 210px;
}

div.transaction pre.verwendungszweck {
    max-width:345px;
    overflow-x: scroll;
}
