table.balance {
    width: 100%;
}

body.booking_overview table.balance {
    width: calc(100% - 15px);
}

table.balance th {
    display: none;
}

table.balance tr td:nth-child(n+2) {
    display: block;
}

table.balance td,
table.balance tr:first-child td {
    border: none;
}

table.balance tr {
    border-bottom: 1px dashed gray;
}

div.alternativeLastTransaction{
    overflow-x: scroll;
}
