input[type='text'].euroamount,
form div.tt_formfield > label + input[type="text"].euroamount,
div.transaction pre.euroamount,
span.euroamount {
    color: #c7ffc7;
}

input[type='text'].euroamount.negative,
form div.tt_formfield > label + input[type="text"].euroamount.negative,
div.transaction pre.euroamount.negative,
span.euroamount.negative {
    color: #ff8484;
}
