div.transaction {
    margin-bottom: 5px;
}

div.transaction > pre,
div.transaction > div.textbody,
div.transaction div.buchungen > div {
    display: inline-block;
    vertical-align: top;
}

div.transaction > div.textbody {
    width: 620px;
}

div.transaction pre {
    margin: 0;
}

div.transaction pre.datum,
div.transaction pre.euroamount,
div.transaction pre.betrag {
    width: 86px;
}

div.transaction pre.verwendungszweck div.trimmed_linebreak {
    margin: 1px 0;
    border-top: 1px dashed #c4c4c4;
}

div.transaction div.buchungen div.buchungsdatum {
    width: 45px;
}

div.transaction div.buchungen div.buchungsbetrag {
    width: 75px;
    text-align: right;
    margin-right: 5px;
}

div.transaction div.buchungen div.buchungskonto {
    width: 245px;
    color: blue;
}

div.transaction div.buchungen div.buchung_text {
    width: 245px;
    white-space: pre-wrap;
}

div.transaction span.inconsistency,
div.transaction div.inconsistency {
    color: red;
}

div.transaction div.gegenbuchungen {
    max-width: 470px;
}
